/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.underline-hover:hover {
    text-decoration: underline !important;
}

.input-group-btn {
    position: static;
}

.dropdown-menu {
    min-width: 100%;
}

body {
    background-color: #e1dcc5 !important;
}

.bg-off-white {
    background-color: #eaeaea !important;
}

.bg-off-white-light {
    background-color: #eae7d7 !important;
}

.max-w-25 {
    max-width: 25rem !important;
}

.max-w-50 {
    max-width: 50rem !important;
}

.w-3 {
    width: 3rem !important;
}

.w-4_5 {
    width: 4.5rem !important;
}

.min-h-4 {
    min-height: 4rem !important;
}

.min-h-6 {
    min-height: 6rem !important;
}

.color-grey {
    color: #909090 !important;
}